@font-face {
  font-family: "League Spartan";
  src: url("../../assets/leaguespartan-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Serico";
  src: url("../../assets/Serico-Regular.otf") format("opentype");
  font-style: normal;
}

@import "./text.scss";
@import "./variables.scss";

body {
  background: $bg;
  margin: 0;
  padding: 0;
  font-size: $rem;
}

.header {
  font-family: "League Spartan";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: $header-bg;
  color: $header-text;
  display: flex;
  align-items: center;
  padding: 1rem;
  z-index: 2;
}

.main-container {
  margin-top: calc(60px + 1rem);
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.cover-tile {
  width: 50%;
  height: 25rem;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &:hover {
    opacity: 0.9;
  }
}

.tile-full-size {
  width: 100vw;
  height: calc(100vh - 80px);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  & > .cover-art {
    width: 70vh;
    height: 70vh;
  }
}

.cover-art {
  width: 12.5rem;
  height: 12.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    cursor: pointer;
  }
}

.cover-text {
  width: 36%;
  margin: 0;
  height: auto;
  text-align: center;
}

.cover-close {
  font-family: "League Spartan";
  font-size: 1em;
  position: fixed;
  right: 2rem;
  top: 6rem;
  width: 2em;
  height: 2em;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

@media only screen and (max-width: 1240px) {
  .cover-text {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .cover-tile {
    width: 100%;
  }
  .cover-text {
    display: block;
  }
}
