@import "./variables.scss";

@mixin text-init($font-size) {
  font-size: $font-size;
  margin: 0;
}

h1 {
  @include text-init(1.5rem);
  line-height: 1.75rem;
  font-family: "Serico";
}

h2 {
  @include text-init(2rem);
  font-family: "League Spartan";
}
