@import "./variables.scss";

@mixin text-init($font-size, $font-color) {
  font-size: $font-size;
  color: $font-color;
  margin: 0;
}

h1 {
  @include text-init(1rem, $cover-tile-text);
  line-height: 1.75rem;
}
h2 {
  @include text-init(2rem, $cover-tile-text);
}
